.step-title{
    font-size:22px;
    font-weight:bold;
    color:#2f4858;
    margin-bottom:15px;
}

.head{
    width:220px;
    height:280px;
    border:4px solid #555;
    border-radius:50%;
    margin:20px auto;
    position:relative;
    background:#fafafa;
}

.line{
    position:absolute;
    width:4px;
    background:#e53935;
    top:20px;
    bottom:20px;
}

.v1{left:35px;}
.v2{left:75px;}
.v3{left:108px;}
.v4{left:145px;}
.v5{left:180px;}
